body {
  margin: 0%;
  background-color: aqua;
  font-size: 16px;
}

.navbar {
  margin-top: 0px;
  width: 100%;
  position: fixed;
  flex-direction: row;
  align-items: baseline;
  background-image: url(../images/stick-kids.png);
  background-size: 100% 70%;
  background-repeat: no-repeat;
  height: 200px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  border-bottom: 4px solid black;
}
.container-top {
  height: 200px;
  background-color: aquamarine;
  border-bottom: 4px solid black;
}
.margin-top {
  margin-top: 138px;
}
main,
footer {
  margin: 0px 20%;
}
.display-flex-row {
  display: flex;
  flex-direction: row;
  gap: 5px;
}
.display-flex {
  display: flex;
  justify-content: space-between;
}
.color-aqua {
  color: aqua;
}
img {
  width: 100px;
  height: 100px;
}
.img-table {
  width: 200px;
  height: 200px;
}
a {
  text-decoration: none;
  color: white;
}
p,
h2,
h3 {
  text-align: center;
}
#width {
  width: 100%;
  align-items: center;
}

hr {
  color: 2px solid rgb(183, 25, 25);
  width: 40%;
}
.roundcorners {
  border-radius: 20px;
  height: 100px;
  width: 240px;
  padding-top: 20px;
}
.tr,
td,
th {
  border: 2px solid brown;
}

.background-brown {
  background-color: brown;
}
fieldset {
  width: 50%;
  color: black;
}
input {
  min-width: 10%;
}
.body-gallery {
  background-image: url(../images/nature-3044755__480.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px 20%;
}

@media all and (max-width: 600px) {
  .display-flex {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .margin-top {
    margin-top: 105px;
    margin-bottom: -24px;
  }

  .img-table {
    width: 100px;
    height: 100px;
  }
  .body-gallery {
    margin: 0% 10% 0% 0%;
    font-size: smaller;
  }
}
